<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<!-- <link rel="stylesheet" type="text/css" href="../static/css/styles.css"> -->
	<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}"> -->
</head>
<body>

	<header>
		<h1>PrescribeAssist</h1>
		<h2>Doctor's Assistant</h2>
	</header>

	<div>
		<form action="{{ url_for('predict')}}" method="POST">
		<p>Please enter your symptom</p>
		<!-- <input type="text" name="comment"/> -->
		<textarea name="symptom" rows="6" cols="50"></textarea>
		<br/>
		<input type="submit" class="btn-info" value="predict">
	</form>
    <br>
    <br>
    {{ dispCondition }}
    {{ dispDrugname }}
	</div>

	{% if feedBackSwitch == True %}
		<div>
			<h3>Was the predicted condition correct?</h3>
			<div>
				<a href="feedback_yes"><button type="button" value="yes">YES</button></a>
				<a href="feedback_no"><button type="button" value="no">NO</button></a>
			</div>
		</div>
	{% else %}
	{% endif %}
	
	

</body>
</html>